/server/back/build/
/server/back/.gradle/
/server/back/out/
/server/back/.idea/
/server/back/*.iml
/server/back/*.iws
/server/back/*.ipr
/server/back/HELP.md
/server/back/.classpath
/server/back/.project
/server/back/.settings/
/server/back/bin/
/server/back/.springBeans
/server/back/.factorypath
/server/back/gradle/
/server/back/gradlew
/server/back/gradlew.bat
/server/back/logs/
/server/back/*.log
/server/back/*.log.*
/server/back/.env
/server/back/.env.*
/server/back/.vscode
!/back/.env.example