/server/back/build/
/server/back/.gradle/
/server/back/out/
/server/back/.idea/
/server/back/*.iml
/server/back/*.iws
/server/back/*.ipr
/server/back/HELP.md
/server/back/.classpath
/server/back/.project
/server/back/.settings/
/server/back/bin/
/server/back/.springBeans
/server/back/.factorypath
/server/back/gradle/
/server/back/gradlew
/server/back/gradlew.bat
/server/back/logs/
/server/back/*.log
/server/back/*.log.*
/server/back/.env
/server/back/.env.*
/server/back/.vscode
/server/.idea/*
!/back/.env.example

/server/back/src/main/resources/firebase/honeykeep-55e4b-firebase-adminsdk-fbsvc-fccd58a678.json

/.idea
/.vscode
/server/.env

**/.env
**/venv/
**/__pycache__/
