/back/build/
/back/.gradle/
/back/out/
/back/.idea/
/back/*.iml
/back/*.iws
/back/*.ipr
/back/HELP.md
/back/.classpath
/back/.project
/back/.settings/
/back/bin/
/back/.springBeans
/back/.factorypath
/back/gradle/
/back/gradlew
/back/gradlew.bat
/back/logs/
/back/*.log
/back/*.log.*
/back/.env
/back/.env.*
/back/.vscode
!/back/.env.example